# https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

name: Test

jobs:
  check:
    name: Check
    env:
      CARGO_INCREMENTAL: 0
      CARGO_TERM_COLOR: always
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install protoc
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler libprotobuf-dev
      - uses: actions-rs/toolchain@v1
      - uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    env:
      CARGO_INCREMENTAL: 0
      CARGO_TERM_COLOR: always
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install protoc
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler libprotobuf-dev
      - uses: actions-rs/toolchain@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
